
body{
  padding: 0;
  background: url('extras/BES_Background.png')  center center/cover;
  }
*{
    margin:  0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }
  .mainTitle{
    margin: 2.5em auto;
    font-family: 'Press Start 2P';
    font-size: 2.5em;
    align-items: center;
    text-align: center;
    line-height: 2;

    color: #FFFFFF;


  }


    .player{
      height: 400px;
      background-color: white;
      opacity: .7;
    }
